* {
  margin: 0px;
}

h1 {
  color: #fff;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
h2 {
  color: #f06b4e;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 5px;
}
h3 {
  color: #f06b4e;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 5px;
}
p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #eaeaeb;
  text-align: justify;
  margin: 5px;
}
a {
  color: #fff;
}

.full-screen {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}
.full-screen-whitout-hight-fixed {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}
.justify-and-align {
  display: flex;
  justify-content: center;
  align-items: center;
}
.background-odd {
  background-color: #222223;
}
.background-even {
  background-color: #1f1f1e;
}
#text-pre-title-main {
  font-size: 2rem;
  color: #484849;
}
#h1 {
  width: 30%;
  font-size: 3rem;
}
#button-first-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  background-color: #f06b4e;
  font-size: 0.7rem;
}

.first-div {
  justify-content: center;
}
.margin-center {
  padding-left: 30%;
}
.contianer-button-social {
  width: 100%;
  height: 64px;
}
.image-social {
  width: 32px;
  height: 32px;
  margin: 5px;
}

.container-about-me {
  display: flex;
  flex-direction: row;
}

.text-about-me {
  width: 400px;
  text-align: justify;
}
.image-me {
  width: 300px;
  margin: 5px;
  border-radius: 5px;
}

.container-skills {
  display: flex;
  width: 80%;
  height: 80%;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}
.container-skill {
  display: flex;
  width: 300px;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.icon-hobbie {
  width: 32px;
  height: 32px;
}
.contianer-percentual-skill {
  width: 100%;
  height: 50%;
  flex-direction: row;
}

.indicator-percentual-active {
  width: 79%;
  height: 10px;
  background-color: #f06b4e;
}
.indicator-percentual-desactive {
  width: 20%;
  height: 10px;
  background-color: #484849;
}
.text-percentual {
}

.container-mentores {
  display: flex;
  flex-direction: row;
}

.image-mentor {
  margin: 5px;
  width: 450px;
  border-radius: 5px;
}

@media only screen and (max-width: 1400px) {
  .full-screen-whitout-hight-fixed {
    display: flex;
    flex-direction: column;
    height: 150vh;
    width: 100vw;
  }
  .container-about-me {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .container-mentores {
    flex-direction: column;
  }
  .image-mentor {
    margin: 5px;
    width: 350px;
    border-radius: 5px;
  }
  .container-skills {
    width: 50%;
  }
  .text-about-me {
    width: 300px;
    text-align: justify;
  }
  .image-me {
    width: 480px;
    height: 270px;
    margin: 5px;
    border-radius: 5px;
  }
}

@media only screen and (max-width: 600px) {
  .container-skills {
    width: 80%;
  }
  .text-about-me {
    width: 320px;
    text-align: justify;
  }
  .image-me {
    width: 320px;
    height: 180;
    margin: 5px;
    border-radius: 5px;
  }
}
